evaluate
datasets>=2.16.0
evaluate>=0.4.0
jsonlines
numexpr
pybind11>=2.6.2
pytablewriter
rouge-score>=0.0.4
sacrebleu>=1.5.0
scikit-learn>=0.24.1
sqlitedict
tqdm-multiprocess
zstandard
dill
word2number
more_itertools